#modal-contact{
  .contact {
    color: grey;
    background-color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact hover {
    color: navy blue;
  }
}
