.artist {
    color: #545454;
    background-color: $gray-lighter;
    font-family: 'Quattrocento Sans', sans-serif !important;
    font-size: 16px !important;
    text-align: auto;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    position: relative;
    display: block;
}

.mikedargas {
    background-color: #ececec;
}
