#modal-theart {
  .theart{
    color: grey;
    background-color: white;
    font-family: 'Quattrocento Sans', sans-serif !important;
    font-size: 18px;
    z-index: 999;
  }

  .theart hover {
    color: navy blue;
  }
}
