/*
Tanveer Art Main Stylesheet
*/


//Gray colours
$gray-base: #212121;
$gray-darker: #212121;
$gray-dark: #424242;
$gray-light: #BDBDBD;
$gray-lighter: #FAFAFA;
$gray: #BDBDBD;


//Import components
@import 'contact';
@import 'theart';
@import 'watermark';
@import 'bootstrap';
@import 'material-kit';
@import 'page-redirect';

.main {
  background-color: $gray-light;
  color: #545454;
}

.red {
  background-color: red;
}

.mainheader {
  color: #545454;
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 16px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
