/*
Tanveer Art Main Stylesheet
*/


//Gray colours
$gray-base: #212121;
$gray-darker: #212121;
$gray-dark: #424242;
$gray-light: #BDBDBD;
$gray-lighter: #FAFAFA;
$gray: #BDBDBD;


//Import components
@import 'contact';
@import 'theart';
@import 'watermark';
@import 'bootstrap';
@import 'material-kit';
@import 'page-redirect';
@import 'social-media';
@import 'theartist';

.main {
  background-color: $gray-darker;
}

.imagecarousel {
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 500px;
  max-height: 550px;

  z-index: 999;
}

.red {
  background-color: red;
}

.mainheader {
  color: $gray-lighter;
  font-family: 'Quattrocento Sans', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 16px;
  text-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $gray-darker !important;
}

.delay-1 {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}

.navbarcolour {
    color: $gray-lighter !important;
    background-color: $gray-darker !important;
    z-index: 999;
    text-align: center;
    align-items: center;
    font-family: 'Quattrocento Sans', sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: auto;
}

.sketches {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  align-items: baseline;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}



.navbar-nav {
    text-align: center;
    float: none;
    li {
        display: inline-block;
        float: none;
        ul {
            cursor: pointer !important;
        }
    }
}






.navbar .navbar-collapse {
  text-align: center;
}

.overlay:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    -webkit-transition: ease-in-out 0.4s;
    -moz-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
}

.overlaysmall {
    margin-top: -128%;
}



@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $gray-darker;
}



.wrapper {
  padding: 120px 0 0;
  text-align: center;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: $gray-darker;
  border-radius: 10px;
  background: $gray-lighter;
  overflow: hidden;
  cursor: pointer;
}



.artist {
    color: $gray-lighter !important;
    background-color: $gray-darker;
    font-family: 'Quattrocento Sans', sans-serif !important;
    font-size: 16px !important;
    line-height: 26px;
    text-align: justify;;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    position: relative;
    display: block;
}

.pads {
    padding-top: 100px;
    padding-bottom: 100px;
}


.contact {
color: $gray-lighter;
background-color: $gray-darker;
font-family: 'Quattrocento Sans', sans-serif;
font-size: 18px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}

.sociallist {
    li {
        display: inline;
        align-items: center;
    }
    ul {
        align-items: center;
    }
    align-items: center;
}
